@import "./section1.scss";
@import "./section2.scss";
@import "./section3.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
