body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.main {
  background: url(../img/sand.jpg) no-repeat center/cover;
  min-height: calc(100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .header__text {
  font-size: 6rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.6;
}

.main .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header__button a {
  font-size: 2rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.main .header__button .btn {
  text-decoration: none;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}

.main .header__button .btn:hover {
  -webkit-box-shadow: 1px 1px 30px 0px #ffff00;
          box-shadow: 1px 1px 30px 0px #ffff00;
}

.main .header__button .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #ffff0052, transparent);
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.main .header__button .btn:hover:before {
  left: 100%;
}

.about {
  background-color: #000;
  height: calc(100vh);
  min-height: 900px;
  font-family: "Oswald", sans-serif;
}

.about__text {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

.about__text span {
  color: #ffff00;
}

.about__photo {
  position: relative;
  height: 600px;
  width: 40%;
  padding: 0 100px;
  float: left;
}

.about__photo .box {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-45%, -50%);
  transform: translate(-45%, -50%);
  width: 328px;
  height: 328px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 6px;
}

.about__photo .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.about__photo .box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about__photo .box span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f5e65c;
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}

.about__photo .box span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.about__photo .box span:nth-child(2) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.about__photo .box span:nth-child(3) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.about__photo .box span:nth-child(4) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.about__photo .box span:nth-child(2):before {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.about__photo .box span:nth-child(4):before {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

.about__photo .content img {
  width: 315px;
}

.about__photo .info {
  padding-top: 3%;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.about__skills {
  width: 45%;
  float: right;
  position: relative;
  height: 500px;
}

.about__skills p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.about__skills .programmer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10%;
}

.about__skills .graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__skills .skill img {
  width: 50%;
}

.projects {
  background: url(../img/sand2.1.jpg) no-repeat center/cover;
  min-height: calc(100vh);
}

.projects p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.projects__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 2px solid #ffff00;
  border-bottom: 2px solid #ffff00;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
  border-right: 2px solid #ffff00;
  border-left: 2px solid #ffff00;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover button,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/*# sourceMappingURL=main.css.map */