.section1 {
  background: url(../img/sand1.jpg) no-repeat center/cover;
  min-height: calc(100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .header__text {
  font-size: 7rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.6;
}

@media screen and (max-width: 1024px) {
  .section1 .header__text {
    font-size: 10vw;
  }
}

.section1 .header__text span {
  color: #ffff00;
}

.section1 .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .header__button a {
  font-size: 2rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

@media screen and (max-width: 400px) {
  .section1 .header__button a {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}

.section1 .header__button a:hover {
  color: #ffff00;
}

.section1 .header__button .btn {
  text-decoration: none;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}

.section1 .header__button .btn:hover {
  -webkit-box-shadow: 1px 1px 30px 0px #ffff00;
          box-shadow: 1px 1px 30px 0px #ffff00;
  color: #ffff00;
}

.section1 .header__button .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #ffff0052, transparent);
  -webkit-transition: all 650ms;
  transition: all 650ms;
}

.section1 .header__button .btn:hover:before {
  left: 100%;
}

.section2 {
  background-color: #000;
  height: calc(100vh);
  min-height: 900px;
  font-family: "Oswald", sans-serif;
  margin-top: -5px;
}

@media screen and (max-width: 1024px) {
  .section2 {
    height: 100%;
  }
}

.section2__text {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 400px) {
  .section2__text {
    font-size: 3rem;
  }
}

.section2__text span {
  color: #ffff00;
}

.section2__photo {
  position: relative;
  height: 600px;
  width: 50%;
  padding-left: 133px;
  float: left;
}

@media screen and (max-width: 1024px) {
  .section2__photo {
    float: none;
    padding-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .section2__photo {
    height: 500px;
  }
}

.section2__photo .box {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-45%, -50%);
  transform: translate(-45%, -50%);
  width: 328px;
  height: 328px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 6px;
}

@media screen and (max-width: 1024px) {
  .section2__photo .box {
    top: 40%;
  }
}

@media screen and (max-width: 768px) {
  .section2__photo .box {
    top: 30%;
    left: 48%;
    width: 240px;
    height: 240px;
  }
}

.section2__photo .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.section2__photo .box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section2__photo .box span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffff00;
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}

.section2__photo .box span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.section2__photo .box span:nth-child(2) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section2__photo .box span:nth-child(3) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.section2__photo .box span:nth-child(4) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.section2__photo .box span:nth-child(2):before {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.section2__photo .box span:nth-child(4):before {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

.section2__photo .content img {
  width: 100%;
}

.section2__photo .info {
  padding-top: 60%;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .section2__photo .info {
    padding-top: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .section2__photo .info {
    padding: 45% 10% 0 10%;
  }
}

@media screen and (max-width: 768px) {
  .section2__photo .info {
    padding-top: 55%;
  }
}

@media screen and (max-width: 425px) {
  .section2__photo .info {
    padding-top: 75%;
  }
}

@media screen and (max-width: 400px) {
  .section2__photo .info {
    padding: 100% 30px 0 30px;
    font-size: 1rem;
  }
}

.section2__skills {
  width: 50%;
  float: right;
  position: relative;
  height: 500px;
  padding-right: 133px;
}

@media screen and (max-width: 1440px) {
  .section2__skills {
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .section2__skills {
    float: none;
    padding-right: 0;
    width: 100%;
    height: 100%;
  }
}

.section2__skills p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 4%;
}

@media screen and (max-width: 1440px) {
  .section2__skills p {
    padding: 0 5%;
  }
}

.section2__skills .programmer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6%;
}

@media screen and (max-width: 400px) {
  .section2__skills .programmer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.section2__skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1700px) {
  .section2__skills .skill {
    width: 32%;
  }
}

@media screen and (max-width: 400px) {
  .section2__skills .skill {
    width: 100%;
  }
}

.section2__skills .skill img {
  width: 50%;
}

.section2__skills .mongo {
  width: 40%;
}

@media screen and (max-width: 400px) {
  .section2__skills .mongo {
    width: 100%;
  }
}

.section3 {
  background: url(../img/sand2.jpg) no-repeat center/cover;
  min-height: 900px;
  height: 110%;
  margin-top: -5px;
}

@media screen and (max-width: 1024px) {
  .section3 {
    height: 105%;
  }
}

.section3 p {
  color: #000;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.section3__text {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 400px) {
  .section3__text {
    font-size: 3rem;
  }
}

.section3__text span {
  color: #ffff00;
}

.section3__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5%;
}

@media screen and (max-width: 1700px) {
  .section3__grid {
    padding: 0 10% 5% 10%;
  }
}

.section3__grid .grid {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.section3__grid .grid .icon {
  width: 45px;
  height: 25px;
  color: #ffff00;
  margin-right: 15px;
}

.section3__grid .grid figure {
  position: relative;
  float: left;
  min-width: 100px;
  max-width: 480px;
  max-height: 360px;
  text-align: center;
  cursor: pointer;
}

.section3__grid figure.effect-bubba:hover img {
  opacity: 0.4;
}

.section3__grid .grid figure img {
  margin: auto;
  position: relative;
  display: block;
  min-height: 95%;
  max-width: 100%;
}

.section3__grid .grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3__grid .grid figure figcaption::before,
.section3__grid .grid figure figcaption::after {
  pointer-events: none;
}

.section3__grid .grid figure figcaption,
.section3__grid .grid figure figcaption > a {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 104%;
  height: 108%;
}

@media screen and (max-width: 400px) {
  .section3__grid .grid figure figcaption,
  .section3__grid .grid figure figcaption > a {
    width: 108%;
  }
}

.section3__grid .grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.section3__grid .grid figure figcaption a {
  text-decoration: none;
  color: #ffff00;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
}

.section3__grid .grid figure figcaption p {
  color: #ffff00;
}

.section3__grid figure.effect-bubba figcaption::before,
.section3__grid figure.effect-bubba figcaption::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, transform 0.95s;
  transition: opacity 0.95s, transform 0.95s, -webkit-transform 0.95s;
}

.section3__grid figure.effect-bubba {
  background: #000000ca;
  height: 88%;
}

.section3__grid figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.section3__grid figure.effect-bubba:hover img {
  opacity: 0.4;
}

.section3__grid figure.effect-bubba figcaption::before {
  border-top: 2px solid #ffff00;
  border-bottom: 2px solid #ffff00;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.section3__grid figure.effect-bubba figcaption::after {
  border-right: 2px solid #ffff00;
  border-left: 2px solid #ffff00;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.section3__grid figure.effect-bubba p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.section3__grid figure.effect-bubba:hover figcaption::before,
.section3__grid figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.section3__grid figure.effect-bubba:hover p,
.section3__grid figure.effect-bubba:hover .icon {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  position: relative;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

footer {
  height: 55px;
  bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 3%;
  height: 26%;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 1.5%;
    background-color: #000;
  }
}

.footer {
  height: 3%;
}

.footer__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .footer__icon {
    width: 30px;
    height: 30px;
  }
}

.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1700px) {
  .icons {
    margin-left: 20px;
  }
}

.icons a img {
  margin-bottom: 10px;
  -webkit-filter: invert(100%) sepia(2%) saturate(2764%) hue-rotate(271deg) brightness(115%) contrast(102%);
          filter: invert(100%) sepia(2%) saturate(2764%) hue-rotate(271deg) brightness(115%) contrast(102%);
}

@media screen and (max-width: 768px) {
  .icons a img {
    margin: auto 8px 0 0;
  }
}

.icons a img:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #ffff00;
          box-shadow: 0 0 15px #ffff00;
  -webkit-transition: all 650ms;
  transition: all 650ms;
  -webkit-filter: invert(96%) sepia(95%) saturate(1477%) hue-rotate(356deg) brightness(110%) contrast(102%);
          filter: invert(96%) sepia(95%) saturate(1477%) hue-rotate(356deg) brightness(110%) contrast(102%);
}
/*# sourceMappingURL=main.css.map */