.section2 {
  background-color: #000;
  height: calc(100vh);
  min-height: 900px;
  font-family: "Oswald", sans-serif;
  margin-top: -1px;
}

@media screen and (max-width: 1024px) {
  .section2 {
    height: 150%;
  }
}

@media screen and (max-width: 768px) {
  .section2 {
    height: 1500px;
  }
}

.section2__text {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 400px) {
  .section2__text {
    font-size: 3rem;
  }
}

.section2__text span {
  color: #ffff00;
}

.section2__photo {
  position: relative;
  height: 600px;
  width: 50%;
  padding-left: 133px;
  float: left;
}

@media screen and (max-width: 1024px) {
  .section2__photo {
    float: none;
    padding-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .section2__photo {
    height: 500px;
  }
}

.section2__photo .box {
  position: absolute;
  top: 42%;
  left: 54%;
  -webkit-transform: translate(-45%, -50%);
  transform: translate(-45%, -50%);
  width: 328px;
  height: 328px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 6px;
}

@media screen and (max-width: 1024px) {
  .section2__photo .box {
    top: 40%;
    left: 50%;
  }
}

@media screen and (max-width: 768px) {
  .section2__photo .box {
    top: 25%;
    left: 45%;
    width: 240px;
    height: 240px;
  }
}

.section2__photo .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.section2__photo .box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section2__photo .box span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffff00;
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}

.section2__photo .box span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.section2__photo .box span:nth-child(2) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section2__photo .box span:nth-child(3) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.section2__photo .box span:nth-child(4) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.section2__photo .box span:nth-child(2):before {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.section2__photo .box span:nth-child(4):before {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

.section2__photo .content img {
  width: 100%;
}

.section2__photo .info {
  padding-top: 60%;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .section2__photo .info {
    padding-top: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .section2__photo .info {
    padding-top: 45%;
  }
}

@media screen and (max-width: 768px) {
  .section2__photo .info {
    padding-top: 63%;
  }
}

@media screen and (max-width: 400px) {
  .section2__photo .info {
    padding: 100% 30px 0 30px;
    font-size: 1rem;
  }
}

.section2__skills {
  width: 50%;
  float: right;
  position: relative;
  height: 500px;
  padding-right: 133px;
}

@media screen and (max-width: 1440px) {
  .section2__skills {
    padding-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .section2__skills {
    float: none;
    padding-right: 0;
    width: 100%;
  }
}

.section2__skills p {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 4%;
}

.section2__skills .programmer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6%;
}

@media screen and (max-width: 400px) {
  .section2__skills .programmer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.section2__skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1700px) {
  .section2__skills .skill {
    width: 32%;
  }
}

.section2__skills .skill img {
  width: 50%;
}

.section2__skills .mongo {
  width: 40%;
}
/*# sourceMappingURL=section2.css.map */