@import "./variables.scss";
.section2 {
  background-color: $background-color;
  height: calc(100vh);
  min-height: 900px;
  font-family: "Oswald", sans-serif;
  margin-top: -5px;
  @media screen and (max-width: $large) {
    height: 100%;
  }

  &__text {
    font-size: 4rem;
    color: $text-color;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    @media screen and (max-width: $small) {
      font-size: 3rem;
    }
    span {
      color: $primary-color;
    }
  }

  &__photo {
    position: relative;
    height: 600px;
    width: 50%;
    padding-left: 133px;
    float: left;

    @media screen and (max-width: $large) {
      float: none;
      padding-left: 0;
      width: 100%;
    }
    @media screen and (max-width: $small) {
      height: 500px;
    }
    .box {
      position: absolute;
      top: 42%;
      left: 50%;
      -webkit-transform: translate(-45%, -50%);
      transform: translate(-45%, -50%);
      width: 328px;
      height: 328px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      padding: 6px;

      @media screen and (max-width: $large) {
        top: 40%;
      }
      @media screen and (max-width: $medium) {
        top: 30%;
        left: 48%;
        width: 240px;
        height: 240px;
      }
    }

    .box:before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.5;
      transition: 0.5;
    }

    .box span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .box span:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: $primary-color;
      -webkit-animation: animate 4s linear infinite;
      animation: animate 4s linear infinite;
    }

    .box span:nth-child(1) {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    .box span:nth-child(2) {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .box span:nth-child(3) {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .box span:nth-child(4) {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }

    .box span:nth-child(2):before {
      -webkit-animation-delay: -2s;
      animation-delay: -2s;
    }

    .box span:nth-child(4):before {
      -webkit-animation-delay: -2s;
      animation-delay: -2s;
    }

    @-webkit-keyframes animate {
      0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
      }
      50% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
      }
      50.1% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right;
      }
      100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
      }
    }

    @keyframes animate {
      0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
      }
      50% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
      }
      50.1% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right;
      }
      100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
      }
    }
    .content img {
      width: 100%;
    }

    .info {
      padding-top: 60%;
      font-size: 1.5rem;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      @media screen and (max-width: $xlarge) {
        padding-top: 80%;
      }
      @media screen and (max-width: $large) {
        padding: 45% 10% 0 10%;
      }

      @media screen and (max-width: $medium) {
        padding-top: 55%;
      }
      @media screen and (max-width: 425px) {
        padding-top: 75%;
      }
      @media screen and (max-width: $small) {
        padding: 100% 30px 0 30px;
        font-size: 1rem;
      }
    }
  }

  &__skills {
    width: 50%;
    float: right;
    position: relative;
    height: 500px;
    padding-right: 133px;
    @media screen and (max-width: $xlarge) {
      padding-right: 0;
    }
    @media screen and (max-width: $large) {
      float: none;
      padding-right: 0;
      width: 100%;
      height: 100%;
    }

    p {
      color: #fff;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      padding-top: 4%;
      @media screen and (max-width: $xlarge) {
        padding: 0 5%;
      }
    }
    .programmer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 6%;

      @media screen and (max-width: $small) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    .skill {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $xxlarge) {
        width: 32%;
      }
      @media screen and (max-width: $small) {
        width: 100%;
      }
      img {
        width: 50%;
      }
    }
    .mongo {
      width: 40%;
      @media screen and (max-width: $small) {
        width: 100%;
      }
    }
  }
}
