.section3 {
  background: url(../img/sand2.jpg) no-repeat center/cover;
  min-height: 900px;
  height: 110%;
  margin-top: -5px;
}

@media screen and (max-width: 1024px) {
  .section3 {
    height: 105%;
  }
}

.section3 p {
  color: #000;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.section3__text {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

@media screen and (max-width: 400px) {
  .section3__text {
    font-size: 3rem;
  }
}

.section3__text span {
  color: #ffff00;
}

.section3__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5%;
}

@media screen and (max-width: 1700px) {
  .section3__grid {
    padding: 0 10% 5% 10%;
  }
}

.section3__grid .grid {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.section3__grid .grid .icon {
  width: 25px;
  height: 25px;
  color: #ffff00;
  margin-right: 15px;
}

.section3__grid .grid figure {
  position: relative;
  float: left;
  min-width: 100px;
  max-width: 480px;
  max-height: 360px;
  text-align: center;
  cursor: pointer;
}

.section3__grid figure.effect-bubba:hover img {
  opacity: 0.4;
}

.section3__grid .grid figure img {
  margin: auto;
  position: relative;
  display: block;
  min-height: 95%;
  max-width: 100%;
}

.section3__grid .grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3__grid .grid figure figcaption::before,
.section3__grid .grid figure figcaption::after {
  pointer-events: none;
}

.section3__grid .grid figure figcaption,
.section3__grid .grid figure figcaption > a {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 104%;
  height: 108%;
}

@media screen and (max-width: 400px) {
  .section3__grid .grid figure figcaption,
  .section3__grid .grid figure figcaption > a {
    width: 108%;
  }
}

.section3__grid .grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.section3__grid .grid figure figcaption a {
  text-decoration: none;
  color: #ffff00;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
}

.section3__grid figure.effect-bubba figcaption::before,
.section3__grid figure.effect-bubba figcaption::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, transform 0.95s;
  transition: opacity 0.95s, transform 0.95s, -webkit-transform 0.95s;
}

.section3__grid figure.effect-bubba {
  background: #000000ca;
  height: 88%;
}

.section3__grid figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.section3__grid figure.effect-bubba:hover img {
  opacity: 0.4;
}

.section3__grid figure.effect-bubba figcaption::before {
  border-top: 2px solid #ffff00;
  border-bottom: 2px solid #ffff00;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.section3__grid figure.effect-bubba figcaption::after {
  border-right: 2px solid #ffff00;
  border-left: 2px solid #ffff00;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.section3__grid figure.effect-bubba p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

.section3__grid figure.effect-bubba:hover figcaption::before,
.section3__grid figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.section3__grid figure.effect-bubba:hover p,
.section3__grid figure.effect-bubba:hover .icon {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
/*# sourceMappingURL=section3.css.map */