@import "./variables.scss";
.section3 {
  background-color: #000;
  background-image: url(../img/sand2.jpg);
  background-size: cover;
  min-height: 900px;
  height: 110%;
  margin-top: -5px;
  @media screen and (max-width: $large) {
    height: 105%;
  }
  p {
    color: $background-color;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__text {
    font-size: 4rem;
    color: $text-color;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
    @media screen and (max-width: $small) {
      font-size: 3rem;
    }
    span {
      color: $primary-color;
    }
  }
  &__grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 5%;
    @media screen and (max-width: $xxlarge) {
      padding: 0 10% 5% 10%;
    }

    .grid {
      position: relative;
      margin: 0 auto;
      max-width: 1000px;
      list-style: none;
      text-align: center;
      .icon {
        width: 31px;
        height: 25px;
        color: #ffff00;
        margin-right: 9px;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .grid figure {
      position: relative;
      float: left;
      min-width: 100px;
      max-width: 480px;
      max-height: 360px;
      text-align: center;
      cursor: pointer;
    }
    figure.effect-bubba:hover img {
      opacity: 0.4;
    }

    .grid figure img {
      margin: auto;
      position: relative;
      display: block;
      min-height: 95%;
      max-width: 100%;
    }

    .grid figure figcaption {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .grid figure figcaption::before,
    .grid figure figcaption::after {
      pointer-events: none;
    }

    .grid figure figcaption,
    .grid figure figcaption > a {
      position: absolute;
      top: -10px;
      left: -10px;
      width: 104%;
      height: 108%;
      @media screen and (max-width: $small) {
        width: 108%;
      }
    }

    .grid figure figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
    }

    .grid figure figcaption a {
      text-decoration: none;
      color: #ffff00;
      padding: 0 50px;
      display: flex;
      pointer-events: auto;
    }
    .grid figure figcaption p {
      color: #ffff00;
    }

    figure.effect-bubba figcaption::before,
    figure.effect-bubba figcaption::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      opacity: 0;
      -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
      transition: opacity 0.95s, transform 0.95s;
    }
    figure.effect-bubba {
      background: #000000ca;
      height: 88%;
    }

    figure.effect-bubba img {
      opacity: 1;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }

    figure.effect-bubba:hover img {
      opacity: 0.4;
    }
    figure.effect-bubba figcaption::before {
      border-top: 2px solid #ffff00;
      border-bottom: 2px solid #ffff00;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
    }

    figure.effect-bubba figcaption::after {
      border-right: 2px solid #ffff00;
      border-left: 2px solid #ffff00;
      -webkit-transform: scale(1, 0);
      transform: scale(1, 0);
    }

    figure.effect-bubba p {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }

    figure.effect-bubba:hover figcaption::before,
    figure.effect-bubba:hover figcaption::after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    figure.effect-bubba:hover p,
    figure.effect-bubba:hover .icon {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      pointer-events: none;
    }
  }
}
